body {
  margin: 0;
  font-family: "Roboto"; }

.region-map {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }

.map-region-single {
  fill: #0b72a6;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: inline;
  position: relative; }

.map-region:hover .map-region-single {
  fill: #fe9718;
  stroke: #0b72a6;
  stroke-width: 2px; }

.svg-small {
  max-width: 800px;
  margin: 0 auto; }

path {
  stroke: #000000;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #86aae0; }

g path:hover {
  fill: #86eee0 !important; }

g:hover path {
  fill: #86cce0; }

/* The animation code */
@keyframes exampleLeft {
  100% {
    left: -150%; } }

@keyframes exampleRight {
  100% {
    right: -150%; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
  position: relative;
  padding-bottom: 0.8rem;
  min-width: 120px;
  text-transform: uppercase;
  font-family: "Roboto Mono Light";
  font-weight: 600; }
  h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: inherit;
    height: 6px;
    background-color: #8fb32f; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

section {
  background-color: whitesmoke;
  padding: 0.5rem;
  box-sizing: border-box; }
  section .section-container {
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem; }
  section .side-effect {
    min-height: 150px; }
    section .side-effect:before {
      content: '';
      display: block;
      position: absolute;
      left: -50px;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%) rotate(45deg);
      border-color: lightblue;
      border-style: solid;
      border-width: 6px; }
    section .side-effect:after {
      content: '';
      display: block;
      position: absolute;
      right: -50px;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%) rotate(45deg);
      border-color: #8fb32f;
      border-style: solid;
      border-width: 6px; }

.animateBg {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0; }
  .animateBg img {
    width: 100%; }
  .animateBg--advance {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0; }
    .animateBg--advance img {
      width: 100%; }
    .animateBg--advance:before {
      content: '';
      display: block;
      position: absolute;
      background-color: white;
      height: 1000%;
      width: 100%;
      top: -500%;
      left: -75%;
      z-index: 1;
      -webkit-transform: rotate(-36deg);
      -moz-transform: rotate(-36deg);
      -ms-transform: rotate(-36deg);
      -o-transform: rotate(-36deg);
      transform: rotate(-36deg);
      animation-name: exampleLeft;
      animation-duration: 0.6s;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
      animation-fill-mode: forwards; }
    .animateBg--advance:after {
      content: '';
      display: block;
      position: absolute;
      background-color: white;
      height: 1000%;
      width: 100%;
      top: -350%;
      right: -77%;
      z-index: 1;
      -webkit-transform: rotate(-36deg);
      -moz-transform: rotate(-36deg);
      -ms-transform: rotate(-36deg);
      -o-transform: rotate(-36deg);
      transform: rotate(-36deg);
      animation-name: exampleRight;
      animation-duration: 0.6s;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
      animation-fill-mode: forwards; }
  .animateBg:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: exampleLeft;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }
  .animateBg:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 1;
    animation-name: exampleRight;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }

.test {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: whitesmoke; }
  .test--red {
    background-color: red; }
  .test--green {
    background-color: green; }
  .test--yellow {
    background-color: yellow; }
